<form method="post" action="{{ path('app_back_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-danger btn-lg"><i class="bi bi-trash"></i></button>
</form>
