{% extends 'back/layout.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block subBody %}
    <h1>Créer une nouvelle saison</h1>

    {{ include('back/season/_form.html.twig') }}

        <a class="btn btn-success btn-lg" href="{{ path('app_back_season_index') }}"><i class="bi bi-box-arrow-left"></i></a>
    </div>
{% endblock %}
