{% extends 'back/layout.html.twig' %}

{% block title %}Modifier un casting{% endblock %}

{% block subBody %}
    <h1>Modifier un casting</h1>

    {{ include('back/casting/_form.html.twig') }}

        <a class="btn btn-success btn-lg" href="{{ path('app_back_casting_index') }}"><i class="bi bi-box-arrow-left"></i></a>

        {{ include('back/casting/_delete_form.html.twig') }}
    </div>
{% endblock %}
