{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="justify-content-center d-flex flex-nowrap gap-3">
        <button class="btn btn-primary btn-lg"><i class="bi bi-check-lg"></i></button>
    
{{ form_end(form) }}
