{% extends 'back/layout.html.twig' %}

{% block title %}Modifier un acteur{% endblock %}

{% block subBody %}
    <h1>Modifier un acteur</h1>

    {{ include('back/person/_form.html.twig') }}

        <a class="btn btn-success btn-lg" href="{{ path('app_back_person_index') }}"><i class="bi bi-box-arrow-left"></i></a>

        {{ include('back/person/_delete_form.html.twig') }}
    </div>
{% endblock %}
