{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}
    <h1>Edit Movie</h1>

    {{ include('back/movie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_movie_index') }}">back to list</a>

    {{ include('back/movie/_delete_form.html.twig') }}
{% endblock %}
