{% extends "base.html.twig" %}

{% block nav %}
	<!-- Nav -->
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_main_home')}}">Front-Office</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_back_movie_index')}}">
			<i class="bi bi-film"></i>
			Films, séries TV</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_back_user_index')}}">
			<i class="bi bi-person"></i>
			Utilisateurs</a>
	</li>
{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% block subBody %}
        {% endblock %}
    </div>
{% endblock %}