{% if app.session.get("favorites")[index] is defined %}

    <a href="{{path ('app_favorite_delete',{id:index})}}" class="movie__favorite fs-1 my-2 mx-3 link-danger">
        <i class="bi bi-bookmark-x-fill"></i>
    </a>

{% else %}

    <a href="{{path ('app_favorite_add',{id:index})}}" class="movie__favorite fs-1 my-2 mx-3 link-danger">
        <i class="bi bi-bookmark-plus"></i>
    </a>

{% endif %}
